/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn_common{
		padding: 5px;
		width: 135px;
		height: 40px;
		font-size: 15px;
	}
	/*Header start*/
	.logo{
		font-size: 22px;
	}
	.menu ul li a {
	    margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    width: 290px;
	    padding: 0 20px 0 0;
	}
	.dd_menu[data-bs-popper] {
	    top: 46px;
	    left: -6px;
	}
	/*Header end*/

	/*Banner start*/
	.slider_item{
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
	}
	.slider_h2 {
	    font-size: 26px;
	}
	.slider_p {
	    margin: 25px 0;
	    padding: 0;
	    line-height: 22px;
	}
	.slide_icon {
	    margin-left: 3px;
	    font-size: 15px;
	}
	.banner_footer{
		text-align: center;
	}
	.s_prev, .s_next {
	    font-size: 15px;
	}
	/*Banner end*/

	/*Welcome start*/
	.welcome{
		margin-bottom: 70px;
	}
	.common_shape {
	    height: 25px;
	}
	.common_h1 {
	    margin: 8px 0 0;
	    font-size: 22px;
	}
	.welcome_para {
	    margin-top: 20px;
	    line-height: 22px;
	}
	.single_wc_item {
	    margin-top: 60px;
	    padding: 50px 8px 25px;
	}
	.wc_icon {
	    margin: -66px auto 0;
	    width: 60px;
	}
	.wc_icon i {
	    font-size: 45px;
	}
	.wc_h2 {
	    margin: 20px 0 0;
	}
	.single_wc_item hr {
	    margin: 12px auto;
	    width: 50px;
	}
	.wc_p {
	    margin: 0 0 20px;
	    padding: 0;
	    line-height: 24px;
	}
	/*Welcome end*/

	/*About start*/
	.about{
		margin-bottom: 70px;
	}
	.about_img{
		text-align: center;
	}
	.img_about{
		width: 100%;
	}
	.about_right{
		margin-top: 50px;
		text-align: center;
	}
	.about_h1{
		font-size: 24px;
	}
	.about_p1 {
	    margin: 20px 0;
	    padding: 0;
	    text-align: justify;
	    line-height: 24px;
	}
	.about_p2 {
	    margin: 0 0 30px;
	    padding: 0;
	    text-align: justify;
	}
	/*About end*/

	/*Recent start*/
	.recent{
		padding-bottom: 70px;
	}
	.tab_menu {
	    margin-top: 30px;
	}
	.recent_nav{
	    margin: 0 -18px 0;
	}
	.recent_title {
	    font-size: 16px;
	}
	/*Recent end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.btn_common{
		padding: 5px;
		width: 135px;
		height: 40px;
		font-size: 15px;
	}
	/*Header start*/
	.logo{
		font-size: 26px;
	}
	.menu ul li a {
	    margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    width: 300px;
	    padding: 0 20px 0 0;
	}
	.dd_menu[data-bs-popper] {
	    top: 0;
	    left: 220px;
	}
	/*Header end*/

	/*Banner start*/
	.slider_item{
		margin-top: 100px;
		margin-bottom: 100px;
		text-align: center;
	}
	.slider_h2 {
	    font-size: 38px;
	}
	.slider_p {
	    margin: 30px 0;
	    padding: 0 22px;
	}
	.slide_icon {
	    margin-left: 3px;
	    font-size: 15px;
	}
	.banner_footer{
		text-align: center;
	}
	.s_prev, .s_next {
	    font-size: 15px;
	}
	/*Banner end*/

	/*Welcome start*/
	.welcome{
		margin-bottom: 70px;
	}
	.common_shape {
	    height: 30px;
	}
	.common_h1 {
	    margin: 10px 0 0;
	    font-size: 23px;
	}
	.welcome_para {
	    margin-top: 25px;
	    line-height: 25px;
	}
	.single_wc_item {
	    margin-top: 75px;
	    padding: 60px 8px 30px;
	}
	.wc_icon {
	    margin: -78px auto 0;
	    width: 60px;
	}
	.wc_icon i {
	    font-size: 50px;
	}
	.wc_h2 {
	    margin: 20px 0 0;
	}
	.single_wc_item hr {
	    margin: 12px auto;
	    width: 50px;
	}
	.wc_p {
	    margin: 0 0 25px;
	    padding: 0;
	    line-height: 24px;
	}
	/*Welcome end*/

	/*About start*/
	.about{
		margin-bottom: 70px;
	}
	.about_img{
		text-align: center;
	}
	.img_about{
		width: 100%;
	}
	.about_right{
		margin-top: 50px;
		text-align: center;
	}
	.about_h1{
		font-size: 24px;
	}
	.about_p1 {
	    margin: 20px 0;
	    padding: 0;
	    line-height: 24px;
	}
	.about_p2 {
	    margin: 0 0 30px;
	    padding: 0;
	}
	/*About end*/

	/*Recent start*/
	.recent{
		padding-bottom: 70px;
	}
	.tab_menu {
	    margin-top: 30px;
	}
	.recent_nav{
	    margin: 0 -18px 0;
	}
	/*Recent end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.btn_common{
		padding: 5px;
		width: 135px;
		height: 40px;
	}
	/*Header start*/
	.logo{
		font-size: 26px;
	}
	.menu ul li a {
	    margin: 0;
	}
	.btn_dd{
		padding: 0;
	}
	.dd_menu {
	    padding: 0 10px 0 0;
	}
	.dd_menu[data-bs-popper] {
	    top: -2px;
	    left: 298px;
	}
	/*Header end*/

	/*Banner start*/
	.slider_item{
		margin-top: 120px;
		margin-bottom: 120px;
	}
	.slider_h2 {
	    font-size: 45px;
	}
	.slider_p {
	    margin: 30px 0;
	    padding-right: 160px;
	}
	.slide_icon {
	    margin-left: 3px;
	    font-size: 16px;
	}
	/*Banner end*/

	/*Welcome start*/
	.welcome{
		margin-bottom: 80px;
	}
	.common_shape {
	    height: 35px;
	}
	.common_h1 {
	    margin: 12px 0 0;
	    font-size: 26px;
	}
	.welcome_para {
	    margin-top: 30px;
	    line-height: 27px;
	}
	.single_wc_item {
	    margin-top: 90px;
	    padding: 60px 8px 30px;
	}
	.wc_icon {
	    margin: -78px auto 0;
	    width: 60px;
	}
	.wc_icon i {
	    font-size: 50px;
	}
	.wc_h2 {
	    margin: 30px 0 0;
	}
	.single_wc_item hr {
	    margin: 12px auto;
	}
	.wc_p {
	    margin: 0 0 25px;
	    padding: 0;
	    line-height: 24px;
	}
	/*Welcome end*/

	/*About start*/
	.about{
		margin-bottom: 80px;
	}
	.about_img{
		text-align: center;
	}
	.img_about{
		width: 100%;
	}
	.about_right{
		margin-top: 80px;
		text-align: center;
	}
	.about_h1{
		font-size: 26px;
	}
	.about_p1 {
	    margin: 20px 0;
	    padding: 0 12px;
	    line-height: 24px;
	}
	.about_p2 {
	    margin: 0 0 30px;
	    padding: 0 12px;
	}
	/*About end*/

	/*Recent start*/
	.recent{
		padding-bottom: 80px;
	}
	.tab_menu {
	    margin-top: 40px;
	}
	/*Recent end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.btn_common{
		width: 155px;
		height: 45px;
	}
	/*Header start*/
	.menu ul li a {
	    margin: 0 12px;
	}
	/*Header end*/

	/*Banner start*/
	.slider_item{
		margin-top: 150px;
		margin-bottom: 150px;
	}
	.slider_h2 {
	    font-size: 50px;
	}
	.slider_p {
	    margin: 35px 0;
	    padding-right: 0px;
	}
	.slide_icon {
	    margin-left: 10px;
	    font-size: 16px;
	}
	/*Banner end*/

	/*About start*/
	.about_h1 {
	    margin: -6px 0 0;
	}
	.about_p1 {
	    margin: 25px 0;
	    line-height: 24px;
	}
	.about_p2 {
	    margin: 0 0 30px;
	}
	/*About end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { ... }